/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: Poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden !important;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}

.logo{ width: 100%; float: left; text-align: center; }
.search_icon{ width: 100%; float: left; }
.header_section {
	width: 100%;
	float: left;
	/*background-image: url(../images/banner-bg.png);
	*/
    background-color: #4B5DFA;
    padding-bottom: 20px;
	background-size: 100%;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 20px;
}
.menu_main {
    float: left;
    padding-left: 10px;
    color: #ffffff;
    font-size: 16px;
    width: 100%;
    text-align: right;
}
.menu_main a { color: #ffffff;}
.menu_main a:hover{ color: #ffffff;}


.togle_main {
    padding-left: 20px;
    width: 80%;
    float: right;
}
.shoping_bag {
    width: 90%;
    float: left;
    text-align: right;
}

.togle_3 {
    width: 100%;
    float: left;
    margin-top: 25px;
}

.left_main{ width: 50%; float: left; }
.middle_main{ width: 25%; float: left; }
.right_main{ width: 25%; float: left; }









.banner_section{
	width: 100%;
	float: left;
	padding-bottom: 70px;
	
}
.sport_text{
	width: 100%;
	float: left;
	font-size: 40pt;
	color: #ff7e1d;
}
.lorem_text {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #fcfbfe;
    margin-left: 0px;
}
.boynow_bt {

    width: 100%;
    float: inherit;
    color: #ffffff;
    background-color: #ff7e1d;
    height: 50px;
    text-align: left;
    font-size: 20px;
    padding: 5px;
    border: 1px solid #ff7e1d;
}
.contact_bt {
    width: 100%;
    float: right;
    color: #ffffff;
    background-color: #232221;
    height: 50px;
    text-align: right;
    font-size: 20px;
    margin-left: 10px;
}
.about_section{
	width: 100%;
	float: left;
}
.about_text {
    width: 60%;
    float: left;
    font-size: 20pt;
    color: #1c6aec;
    text-align: left;
    padding-left: 30px;
    position: absolute;
    padding-top: 50px;
}
.about_img {
    width: 100%;
    float: left;
    position: relative;
    top: -30px;
}
.about_middle {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    position: ABSOLUTE;
    background-image: url(../images/img-2.png);
    height: auto;
    margin-top: 340px;
    margin-left: 60px;
}
.about_lorem {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #18191a;
    text-align: left;
    padding-right: 30px;
}

.read_more {
    width: 18%;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    background-color: #1c6aec;
    height: 50px;
    display: block;
    font-size: 20px;
}
.red_bt {
    width: 100%;
    float: left;
    position: relative;
    top: -120px;
}
.our_section{
	width: 100%;
	float: left;
}

.our_text{
	width: 100%;
	float: left;
	color: #1c6aec;
    font-size: 20pt;
    padding-left: 20px;

}
.our_section_2{
	width: 100%;
	float: left;
}
.our_main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 0px;
    padding: 20px;
    margin-top: 50px;
}
#my_slider .carousel-control-prev:hover, #my_slider .carousel-control-next:hover, #my_slider .carousel-control-prev:focus, #my_slider .carousel-control-next:focus {
    background: #1c6aec;
    color: #ffffff !important;
}
#my_slider a.carousel-control-prev {
    position: absolute;
    left: -60px;
    top: 40%;
    background-color: #363739;
    color: #ffffff;
}
#my_slider .carousel-control-prev, #my_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #fff;
    opacity: 1;
    font-size: 30px;
    color: #091e30;
    border-radius: 100%;
}

#my_slider a.carousel-control-next {
    position: absolute;
    top: 37%;
    right: -60px;
    background-color: #1c6aec;
    color: #ffffff;
}

#my_slider .carousel-control-prev, #my_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #fff;
    opacity: 1;
    font-size: 30px;
    color: #091e30;
    border-radius: 100%;
}

.seemore_bt{
	width: 15%;
	margin: 0 auto;
	background-color: #1c6aec;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	height: 50px;
	display: block;
	margin-top: 60px;

}
.contact_section{
	width: 100%;
	float: left;
}
.contact_main {
    width: 100%;
    float: left;
    background:#4B5DFA;
    height: auto;
    padding-bottom: 70px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.contact_text{
	width: 100%;
	float: left;
	font-size: 40px;
	color: #000;
	text-align: center;
}
.enput_section {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
}

.email_box {
    width: 100%;
    float: left;
    /* background-color: #ffffff; */
    /* border-radius: 20px; */
    height: auto;
    /* padding: 50px 20px; */
    /* opacity: 0.80; */
}
.form-group {
    margin-bottom: 2rem;
}	
.email-bt {
    color: #000000;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 20px;
}
.massage-bt {
    color: #000000;
    width: 100%;
    height: 150px;
    font-size: 18px;
    padding: 50px 20px 10px 20px;
}

.send_btn {
    padding-left: 15px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
button.main_bt {
    background: #f7941d;
    border: none;
    color: #faf9f9;
    width: 160px;
    height: 58px;
    font-size: 24px;
    padding-top: 3px;
}
button.main_bt a { color: #faf9f9; }
button.main_bt a:hover { color: #faf9f9; }

.testimonial_section{
	width: 100%;
	float: left;
}

.dolore_text {
    width: 100%;
    float: left;
    text-align: center;
    color: #111010;
    margin-left: 0;
}

.images_3{
	width: 100%;
	float: left;
	text-align: center;
	padding-bottom: 30px;
	padding-top: 20px;
}
.rooty_text{
	width: 100%;
	float: left;
	text-align: center;
	font-size: 30px;
	color: #111010;
	font-weight: 500;
}

.ice_text {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    color: #0a2ba6;
    margin: 0;
    font-weight: 500;
}

.right_quote {
    text-align: right;
    position: relative;
    top: -25px;
}

.footer_section{
	width: 100%;
	float: left;
	background-color: #051148;
	height: auto;
	padding-bottom: 70px;
	margin-top: 90px;

}

.important_text{
	width: 100%;
	float: left;
	font-size: 26px;
	color: #ffffff;
	font-weight: bold;
}
.footer_menu{
	width: 100%;
	float: left;
}

.footer_menu ul{
	margin: 0px;
	padding: 0px;
}

.footer_menu li{
	font-size: 14px;
	color: #ffffff;
}

.footer_menu li a{	
	color: #ffffff;
}
.footer_menu li a:hover{ 
	color: #ff7e1d;
}

.footer_lorem_text {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
}

.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ff7e1d;
    height: 50px;
    color: #fff;
    border: 0px;
}
.mb-3, .my-3 {
    margin-bottom: 0rem!important;
    width: 82%;
    padding-top: 20px;
}
.copyright_text{
	width: 100%;
	float: left;
	color: #040614;
	text-align: center;
	background-color: #ffffff;
	padding: 10px 0px;
	font-size: 15px;
}








.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1c6cee;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
  margin-left: 30px
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left:60px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  margin-left: 50px;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.footer_padding{
	margin: 0px;
}